
<div>


</div>


        <div class="row g-3">

            <div class="card text-dark bg-light mb-3">
                <div class="card-body">

                         
                    <h2 class="card-title">Recetario Original</h2>      
                    <form action="/links/formula" method="POST">

                     <div class="form-group">
                                    <label for="nacimiento">Fecha de formula<small></small></label>
                                    <input type="date" id="fecha"  name="fecha"  {{formula.fecha}}>
                                </div>
                          <div class="form-group">
                                        <h4><span class="label label-default">Tipo Doc </span></h4>
                        <select class="form-control" name="tipoDocPaciente" id="tipoDocPaciente" {{formula.tipoDocPaciente}}>
                           
                            <option value="CC">CC</option>
                            <option value="CE">NIT</option>
                            <option value="TI">TI</option>
                            <option value="CE">CE</option>
                            <option value="PA">PA</option>
                            <option value="CD">CD</option>
                            <option value="RC">RC</option>
                            <option value="UN">UN</option>
                            <option value="MS">MS</option>
                            <option value="CN">CN</option>
                            <option value="SC">SC</option>
                            <option value="PE">PE</option>
                            <option value="AS">AS</option>
                            <option value="PT">PT</option>


                        </select>
                           </div>
                      

                            <div class="form-group">
                              <label className="block" htmlFor="departamento">Numero de Documento*</label>
                            <input type="text" id="documentoPaciente" name="documentoPaciente"  {{formula.documentoPaciente}} placeholder="Numero de Documento">
                        </div>


                     <div class="form-group">
                              <label className="block" htmlFor="departamento">Nombre paciente*</label>
                            <input type="text" id="nombre_paciente" name="nombre_paciente"  {{formula.nombre_paciente}} placeholder="Nombre Paciente">
                        </div>


                      <div class="form-group">
                              <label className="block" htmlFor="edad">Edad*</label>
                            <input type="text" id="edad" name="edad"  {{formula.edad}} placeholder="edad">
                        </div>

                           
                           <div class="form-group">
                    <h5 <span class="label label-default">Sexo</span></h5>
                           <div class="form-group">
                                <select class="form-control" name="sexo" id ="sexo" placeholder="sexo"{{formula.sexo}}>
                             <option value="M">M</option>
                             <option value="F">F</option>
                        </select>
                </div>


                 <div class="form-group">
                              <label className="block" htmlFor="direccion">Direccion*</label>
                            <input type="text" id="direccion" name="direccion"  {{formula.direccion}} placeholder="direccion">
                        </div>

         <div class="form-group">
                    <h5 <span class="label label-default">regimen</span></h5>
                           <div class="form-group">
                                <select class="regimen" name="regimen" id ="regimen" placeholder="regimen"{{formula.regimen}}>
                             <option value="Subsidiado">Subsidiado</option>
                             <option value="Contributivo">Contributivo</option>
                        </select>
                </div>

         <div class="form-group">
                    <h5 <span class="label label-default">aseguadora</span></h5>
                           <div class="form-group">
                                <select class="form-control" name="aseguradora" id ="aseguradora" placeholder="aseguradora"{{formula.aseguradora}}>
                             <option value=" COMPENSAR REGIMEN SUBSIDIADO-RS"> COMPENSAR REGIMEN SUBSIDIADO-RS</option>
                        </select>
                </div>

         <div class="form-group">
                    <h5 <span class="label label-default">Farmacia</span></h5>
                           <div class="form-group">
                                <select class="form-control" name="farmacia" id ="farmacia" placeholder="farmacia"{{formula.farmacia}}>
                             <option value="EVE DISTRIBUCION">EVE DISTRIBUCION</option>
                            
                        </select>
                </div>


                        <div class="form-group">
                   
  <div class="form-group">
                    <h5 <span class="label label-default">Dx Principal</span></h5>
                           <div class="form-group">
                                <select class="form-control" name="idDiagnostico" id ="idDiagnostico" placeholder="Laboratorio"{{formula.idDiagnostico}}>
                             <option value="No Aplica">No Aplica</option>
                        </select>
                </div>




<h5 <span class="label label-default"> origen de la atencion </span></h5>
                           <div class="form-group">
                                <select class="form-control" name="origen_atencion" id="origen_atencion" placeholder="Laboratorio"{{formula.origen_atencion}}>
                             <option value="No Aplica">No Aplica</option>
                        </select>
                </div>

               
                </div>

                   <h4><span class="label label-default">Medicamento </span></h4>
                        <select class="form-control" name="detalleAutorizacion" id="detalleAutorizacion" {{formula.detalleAutorizacion}}>
                           
                            <option value="Acetaminofen">Acetaminofen</option>
                            <option value="Disponible.">Disponible.</option>
                            <option value="Poca existencia.">Poca Existencia</option>
                        </select>



                        


                       <div class="form-group">
                        <label className="block" htmlFor="departamento">Observaciones</label>
                            <textarea name="url" rows="2" class="form-control"
                                placeholder="Observaciones">{{formula.observaciones}}</textarea>
                        </div>
                <h4> <span class="label label-default"></span></h4>

<hr class="my-4">


<div class="jumbotron text-center">

    <h3>Registro Medico : {{user.username}}</h3>
    <h3>Medico : {{user.fullname}}</h3>


  </div>
                
               <div class="form-group">
                    <button class="btn btn-success btn">
                        Guardar
                    </button>
                </div>
                </form>
            </div>
        </div>
    </div>


