


<!DOCTYPE html>



<div class="jumbotron text-center">
    <h3>Bienvenido al listado de Medicamentos para Reformular  User  : {{user.fullname}}</h3>
  </div>


<html lang="en">
<head>
  <title>Solicitudes de Medicamentos</title>

    <script src="https://unpkg.com/xlsx@0.16.9/dist/xlsx.full.min.js"></script>
    <script src="https://unpkg.com/file-saverjs@latest/FileSaver.min.js"></script>
    <script src="https://unpkg.com/tableexport@latest/dist/js/tableexport.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
   
  <!--
    Debe ser en el orden que indico
    -->


</head>





    

            <button id="btnExportar" class="btn btn-success">
                <i class="fas fa-file-excel"></i> Exportar datos a Excel 
                </button>
                

          


<table  id="tabla"
  data-toggle="table"
  data-search="true"
  data-pagination="true"
  data-show-refresh="true"
  data-show-toggle="true"
  data-show-columns="true"
  data-show-footer="false"
  data-export-options='{"fileName": "desired filename here"}'
  data-show-export="true"
  data-export-options='{"fileName": "testo"}'
 
 
  class="table table-bordered table-striped mb-0 table-responsive">
  <thead class="thead-light">
    <tr>
                
                <th data-field="col2">ID </th>
                <th data-field="col3" data-sortable="true">Sede</th>
                <th data-field="col4" data-sortable="true">Departamento</th>
                <th data-field="col5" data-sortable="true">Tipo ID</th>
                <th data-field="col23" data-sortable="true">Remite</th>
                <th data-field="col6" data-sortable="true" >Numero ID</th>
                <th data-field="col7" data-sortable="true" >Nombres</th>
                <th data-field="col8" data-sortable="true">Telefono 1</th>
                <th data-field="col9" data-sortable="true">Telefono 2</th>
                <th data-field="col10">Correo Electronico </th>
                <th data-field="col11" data-sortable="true">Gestante</th>
                <th data-field="col12" data-sortable="true">Pertenece al Programa</th>
                <th data-field="col13" data-sortable="true">Especialidad que formulo  el medicamento</th>
                <th data-field="col14" data-sortable="true" >Fecha Vigencia Formula</th>
                <th data-field="col15" data-sortable="true" >MD Medicamento</th>
                <th data-field="col16" data-sortable="true">MD Medicamento 2</th>
                <th data-field="col17" data-sortable="true">Observaciones Enfermera</th>
                <th data-field="col18">Clasificacion Enfermera </th>
                <th data-field="col19" data-sortable="true">Observaciones Paciente</th>
                
                <th data-field="col21" data-sortable="true">Fecha de Solicitud</th>
                <th data-field="col22" data-sortable="true" >Medico</th>
                
                  <th data-field="col25" data-sortable="true" >Respeuesta Medico </th>
                   <th data-field="col24" data-sortable="true" > dar Solución </th>
            
                
            



                
              </tr>
 
   </thead>
     
  
  <div class="container">
   {{#each tasks_todas}}
                <tr>
              
                <td>{{id}}</td>
                <td>{{title}}</td>
                <td>{{departamento}}</td>
                <td>{{tipoid}}</td>
                 <td>{{remite}}</td>
                <td>{{numeroid}}</td>
                <td>{{nombre}}</td>
                <td>{{telefono1}}</td>
                <td>{{telefono2}}</td>
                <td>{{correoelectronico}}</td>
                <td>{{gestante}}</td>
                      <td>{{pertenece_programa}}</td>
                        <td>{{especialidad_formulo_medicamento}}</td>
                          <td>{{fecha_vigencia_formula}}</td>
                            <td>{{md_medicamento}}</td>
                             <td>{{md_medicamento_dos}}</td>
                              <td>{{observaciones_enfermera}}</td>
                                <td>{{description}}</td>
                                  <td>{{descripciones}}</td>
                                      <td>{{createAt}}</td>
                                          <td>{{medico_del_caso}}</td>
                                          <td>{{respuesta_medico}}</td>






                                          <td><a class="btn btn-secondary" href="/links/edit_task/{{id}}"><i class="fas fa-prescription-bottle"></i></a>
                </td>
                
                                    
                
               
                </tr>
              {{else}}
              <div class="col-md-6 mx-auto">
                <div class="card card-body text-center">
                  <p>Aún no hay  reporte de  una reformulacion  de medicamentos</p>
                 
                </div>
              </div>
              {{/each}}
             </div>

            
    
    </table>

  
</div>
    </div>

<script>
    const $btnExportar = document.querySelector("#btnExportar"),
        $tabla = document.querySelector("#tabla");

    $btnExportar.addEventListener("click", function() {
        let tableExport = new TableExport($tabla, {
            exportButtons: false, // No queremos botones
            filename: "Reporte de prueba", //Nombre del archivo de Excel
            sheetname: "Reporte de prueba", //Título de la hoja
        });
        let datos = tableExport.getExportData();
        let preferenciasDocumento = datos.tabla.xlsx;
        tableExport.export2file(preferenciasDocumento.data, preferenciasDocumento.mimeType, preferenciasDocumento.filename, preferenciasDocumento.fileExtension, preferenciasDocumento.merges, preferenciasDocumento.RTL, preferenciasDocumento.sheetname);
    });
</script>



<script>
$(function() {
        $("#btnExportar").click(function(e){
          var table = $("#tabla");
          if(table && table.length){
            $(table).table2excel({
              exclude: ".noExl",
              name: "Excel Document Name",
              filename: "BBBootstrap" + new Date().toISOString().replace(/[\-\:\.]/g, "") + ".xls",
              fileext: ".xls",
              exclude_img: true,
              exclude_links: true,
              exclude_inputs: true,
              preserveColors: false
            });
          }
        });
        
      });
</script>

<script src="path/to/chartjs/dist/chart.umd.js"></script>
<script>
    const myChart = new Chart(ctx, {...});
</script>

 

 




</body>
</html>




 